.comment {
  position: relative;
  width: 1200px;
  left: 140px;
  top: 200px;
  background: #ffffff;
  border-radius: 10px;
}
.commentor {
  position: absolute;
  width: 864px;
  height: 24px;
  left: 150px;
  top: 865px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.12em;

  color: #b6b8ba;
}
.comment-content {
  position: absolute;
  width: 1033px;
  height: 181px;
  left: 150px;
  top: 897px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;

  color: #000000;
}
