.main-container {
  position: relative;
  width: 1500px;
  min-height: 800px;
  left: 140px;
  top: 500px;
  background: #ffffff;
  border-radius: 10px;
}
.author {
  position: absolute;
  width: 864px;
  height: 24px;
  left: 2%;
  top: 3%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.12em;

  color: #b6b8ba;
}
.main-title {
  position: absolute;
  width: 1400px;
  height: 45px;
  left: 2%;
  top: 8%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 550;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.12em;

  color: #000000;
}
.mainpost-content {
  position: absolute;
  width: 1400px;
  height: 79px;
  left: 2%;
  top: 35%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;

  color: black;
}
.main-upvotes {
  position: absolute;
  width: 250px;
  height: 84px;
  left: 2%;
  top: 20%;

  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.12em;

  color: #b6b8ba;
}
.main-downvotes {
  position: absolute;
  width: 250px;
  height: 84px;
  left: 2%;
  top: 25%;

  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.12em;

  color: #b6b8ba;
}
.main-totalvotes {
  position: absolute;
  width: 250px;
  height: 84px;
  left: 2%;
  top: 30%;

  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.12em;

  color: #b6b8ba;
}
.divide {
  position: absolute;
  width: 1493px;
  height: 0px;
  left: 0%;
  top: 80%;

  border: 3px solid #b6b8ba;
}
